.tab_div {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab_div button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab_div button:hover {
    background-color: #ddd;
}

.tab_div button.active {
    background-color: #ccc;
}

.stat_content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

.tabGrid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(auto-fill, 60px);
    grid-auto-flow: row;
}

.skillDiv {
    line-height: 60px;
    display: inline-block;
    height: 60px;
}
.skillDiv > * {
    vertical-align: middle;
}
.container {
    padding: 0%;
    height: 60px;
    padding: auto;
    display: inline;
}

.footer {
    margin-top: -12px;
    display: inline-block;
}

.footer > * {
    margin-right: 10px;
    display: inline-block;
}

body{
    background-color: #f1f1f1;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}